[submodule "crypto/pedersen/crypto-cpp"]
	path = crypto/pedersen/crypto-cpp
	url = git@github.com:software-mansion-labs/crypto-cpp.git
[submodule "crypto/poseidon/poseidon"]
	path = crypto/poseidon/poseidon
	url = git@github.com:THenry14/poseidon.git
[submodule "cairo1"]
	path = cairo1
	url = https://github.com/starkware-libs/cairo.git
	branch = main
[submodule "cairo2"]
	path = cairo2
	url = https://github.com/starkware-libs/cairo.git
	branch = main
