ENABLE_INTEGRATION_TESTS=true
ENABLE_GAS_TESTS=false
INTEGRATION_RPC_URL=http://example-node-url.com/rpc
INTEGRATION_GATEWAY_URL=http://example.com/gateway
INTEGRATION_FEEDER_GATEWAY_URL=http://example.com/feeder_gateway
INTEGRATION_PRIVATE_KEY=0x123456789
INTEGRATION_ACCOUNT_ADDRESS=0x123456789123456789123456789123456789123456789123456789123456789

