name: Build And Publish Docs
on: 
  workflow_run:
    workflows: [Build And Publish Packages]
    types:
      - completed
permissions:
  contents: write
jobs:
  build-and-publish-docs:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      # https://www.oracle.com/technical-resources/articles/java/javadoc-tool.html#Descriptions
      - name: Replace whitespaces after dots with non breaking spaces.
        # Look for '. ' or '.\newline' and replace it with '.&nbsp;'
        run: sed -i 's/\(\.\s\|\.$\)/.\&nbsp;/g' lib/starknet-jvm.md

      # Build java and kotlin style docs and copy kotlin output to the java folder
      # so that the deployed github page has java docs at `/` and kotlin docs at `/kotlin`
      - name: Build docs
        run: |
          ./gradlew :lib:dokkaJavadoc
          ./gradlew :lib:dokkaHtml
          cp -R lib/build/dokka/html lib/build/dokka/javadoc/kotlin/

      # - name: Deploy
      #   uses: JamesIves/github-pages-deploy-action@66b02ca51987e10cad29b320023d7c39eff2d4ca
      #   with:
      #     folder: lib/build/dokka/javadoc
      #     branch: gh-pages
      #     single-commit: true
