name: Checks
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test_and_lint:
    strategy:
      matrix:
        os: [
          "macos-latest-xlarge",
          "ubuntu-20.04"
        ]

    runs-on: ${{ matrix.os }}
    # TODO: (#310) Remove when migrating to macOS arm64 runner
    env:
      V2_COMPILER_BUILD_PATH: ${{ github.workspace }}/cairo2/target/release
      DEVNET_SHA: 8c4b73361cb1e15412c68f18ef18da08586a8461
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@4f73d30c2fc44a9466a3ed890fb8db7a7b554302
        with:
          cmake-version: '3.16.x'

      - name: Setup Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: 3.9.12
          cache: 'pip'

      - name: Install legacy devnet
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      # TODO: Replace with installing release when release is available
      - name: Clone starknet-devnet-rs
        run: |
          git clone https://github.com/0xSpaceShard/starknet-devnet-rs.git starknet-devnet-rs
          pushd ${{ github.workspace }}/starknet-devnet-rs
          git checkout ${{ env.DEVNET_SHA }}
          popd

      - name: Cache devnet build
        uses: actions/cache@v3
        with:
          path: starknet-devnet-rs/target/release
          key: ${{ runner.os }}-starknet-devnet-rs-target-release-${{ env.DEVNET_SHA }}

      - name: Build devnet
        run: |
          if [[ ! -d ${{ github.workspace }}/starknet-devnet-rs/target/release ]]; then
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            pushd ${{ github.workspace }}/starknet-devnet-rs
            cargo build --release
            popd
          else
            echo "Found existing starknet-devnet-rs build, skipping compilation."
          fi

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v2

      - name: Install sncast 0.6.0
        run: |
          curl --proto '=https' --tlsv1.2 -LsSf https://raw.githubusercontent.com/foundry-rs/starknet-foundry/master/scripts/install.sh | sh -s -- -v 0.6.0
          source /Users/runner/.bashrc || true
          echo "$(dirname $(which sncast))" >> $GITHUB_PATH    

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with: 
          cache-read-only: false

      - name: Lint
        run: ./gradlew :lib:lintKotlin

      # TODO: (#310) Remove when migrating to macOS arm64 runner
      - name: Clone Cairo repo (macOS only)
        if: matrix.os == 'macos-latest'
        run: git clone -b v2.2.0 https://github.com/starkware-libs/cairo.git cairo2

      - name: Cache Cairo compiler v2 binaries (macOS only)
        if: matrix.os == 'macos-latest'
        uses: actions/cache@v3
        with:
          path: cairo2/target/release
          key: ${{ runner.os }}-cairo2-target-release-${{ hashFiles('cairo2/Cargo.lock') }}

      - name: Build Cairo compiler binaries (macOS only)
        if: matrix.os == 'macos-latest'
        run: |
          if [[ ! -d "$V2_COMPILER_BUILD_PATH" ]]; then
            curl -sSf https://sh.rustup.rs | sh -s -- -y
            pushd ${{ github.workspace }}/cairo2
            cargo build --release
            cargo run --bin starknet-compile -- --version
            cargo run --bin starknet-sierra-compile -- --version
            popd
          else
            echo "Found existing binaries, skipping compilation."
          fi

      - name: Run tests and generate coverage report
        env:
          DEVNET_PATH: ${{ github.workspace }}/starknet-devnet-rs/target/release/starknet-devnet
        run: ./gradlew :lib:koverXmlReport --info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70
        with:
          files: lib/build/reports/kover/project-xml/report.xml
