name: Checks
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test_and_lint:
    # TODO: Change when feat/gh-build branch is merged
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.12
        with:
          cmake-version: '3.16.x'
      - name: Set up Python 3.7.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.12

      - name: Install devnet
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Lint
        run: ./gradlew :lib:lintKotlin

      - name: Run tests with coverage
        run: ./gradlew :lib:koverXmlReport --info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: lib/build/reports/kover/project-xml/report.xml
