name: Checks
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test_and_lint:
    strategy:
      matrix:
        os: [
          "macos-latest",
          "ubuntu-20.04"
        ]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@4f73d30c2fc44a9466a3ed890fb8db7a7b554302
        with:
          cmake-version: '3.16.x'
      - name: Set up Python 3.9.12 and devnet
        uses: actions/setup-python@v4.5.0
        with:
          python-version: 3.9.12
          cache: 'pip'
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with: 
          cache-read-only: false

      - name: Lint
        run: ./gradlew :lib:lintKotlin

      - name: Cache compiled contracts
        uses: actions/cache@v2
        with:
          path: |
            lib/src/test/resources/compiled_v0
            lib/src/test/resources/compiled_v1
          key: ${{ runner.os }}-compiled-contracts
          restore-keys: |
            ${{ runner.os }}-compiled-contracts

      - name: Cache cairo target debug (test)
        uses: actions/cache@v2
        with:
          path: cairo/target/debug
          key: ${{ runner.os }}-cairo-target-debug-${{ hashFiles('cairo/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cairo-target-debug-
      
      - name: Run tests and generate coverage report
        run: ./gradlew :lib:koverXmlReport --info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70
        with:
          files: lib/build/reports/kover/project-xml/report.xml
