name: Checks
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test_and_lint:
    strategy:
      matrix:
        os: [
          "macos-latest",
          "ubuntu-20.04"
        ]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      # TODO: (#310) Remove when migrating to macOS arm64 runner
      - name: Clone Cairo repos (macOS only)
        if: matrix.os == 'macos-latest'
        run: |
          git clone -b v1.1.1 https://github.com/starkware-libs/cairo.git cairo1
          git clone -b v2.2.0 https://github.com/starkware-libs/cairo.git cairo2

      - name: Cache Cairo compiler v1 binaries (macOS only)
        if: matrix.os == 'macos-latest'
        uses: actions/cache@v3
        with:
          path: cairo1/target/release
          key: ${{ runner.os }}-cairo1-target-release-${{ hashFiles('cairo1/Cargo.lock') }}

      - name: Cache Cairo compiler v2 binaries (macOS only)
        if: matrix.os == 'macos-latest'
        uses: actions/cache@v3
        with:
          path: cairo2/target/release
          key: ${{ runner.os }}-cairo2-target-release-${{ hashFiles('cairo2/Cargo.lock') }}

      - name: Build Cairo compiler binaries (macOS only)
        if: matrix.os == 'macos-latest'
        run: |
          if [[ ! -d "cairo1/target/release" || ! -d "cairo2/target/release" ]]; then
            curl -sSf https://sh.rustup.rs | sh -s -- -y
            if [[ ! -d "cairo1/target/release" ]]; then
               cd cairo1 && cargo build --release
               cargo run --bin starknet-compile -- --version
               cargo run --bin starknet-sierra-compile -- --version
               cd ..
            fi
            if [[ ! -d "cairo2/target/release" ]]; then 
                cd cairo2 && cargo build --release
                cargo run --bin starknet-compile -- --version
                cargo run --bin starknet-sierra-compile -- --version
                cd ..
            fi
          fi    

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@4f73d30c2fc44a9466a3ed890fb8db7a7b554302
        with:
          cmake-version: '3.16.x'

      - name: Setup Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: 3.9.12
          cache: 'pip'

      - name: Install devnet
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with: 
          cache-read-only: false

      - name: Lint
        run: ./gradlew :lib:lintKotlin

      - name: Run tests and generate coverage report
        env:
          V1_COMPILER_BUILD_PATH: ${{ github.workspace }}/cairo1/target/release
          V2_COMPILER_BUILD_PATH: ${{ github.workspace }}/cairo2/target/release
        run: ./gradlew :lib:koverXmlReport --info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70
        with:
          files: lib/build/reports/kover/project-xml/report.xml
